{
  "extends": ["next/core-web-vitals"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          // `react` & `next` related packages come first, then other packages
          ["^react", "^next", "^@?\\w"],
          // Our stuff
          ["^(api|lib)(/.*|$)", "^"],
          // Style, img, asset imports
          ["^.+\\.?(md|mdx|css|svg|png|jpg|jpeg|gif)$"]
        ]
      }
    ],
    "react/self-closing-comp": ["error", { "component": true, "html": true }],
    "arrow-body-style": ["error", "as-needed"]
  }
}
